@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: "Azeret Mono", monospace;
}
/* navbar style */

.navbar-container {
  display: flex;
  justify-content: space-between;
  max-width: 950px;
  height: 30px;
  margin: 0 auto;
}
#btn {
  margin-top: 5px;
  padding-bottom: 20px;
  border: 2px solid black;
}
/* banner style */

.banner-container {
  background-image: url("../images/Hero-bg.png");
  max-width: 1260px;
  height: 550px;
}
.banner-image-text-container {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}
.banner-image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.banner-image img {
  height: 25%;
  width: 25%;
}
.banner-text {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
.banner-text button {
  background-color: black;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
}
/* Web Development style */

.developement-container {
  max-width: 1000px;
  height: 1060px;
  margin: 0 auto;
  margin-top: 23px;
  background-color: #fafafb;
}
.developement-text-container {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
.developement-image-container {
  max-width: 1350px;
  height: 900px;
  width: 70%;
  margin: 0 auto;
}
.developement-image1 {
  display: flex;
  max-width: 1350px;
  height: 300px;
  width: 100%;
  margin: 0 auto;
  background-color: white;
}
.developement-image2 {
  display: flex;
  max-width: 1350px;
  height: 300px;
  width: 100%;
  margin: 0 auto;
  background-color: white;
}
.development-image3 {
  display: flex;
  max-width: 1350px;
  height: 300px;
  width: 100%;
  margin: 0 auto;
  background-color: white;
}
button {
  padding: 7px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.h4p1,
.h4p2,
.h4p3 {
  flex-direction: column;
  margin-left: 70px;
  margin-top: 32px;
}
.image1,
.image2,
.image3 {
  margin-left: 100px;
  margin-top: 23px;
}
/* My Inspiration style */

.inspiration-container {
  max-width: 1000px;
  height: 500px;
  margin: 0 auto;
  margin-top: 23px;
}
.inspiration-text-container {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
.inspiration-video-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1000px;
  height: 400px;
  margin: 0 auto;
  margin-top: 23px;
  border: 2px solid rgb(237, 228, 228);
}
.inspiration-video-container iframe {
  height: 90%;
  width: 95%;
}
/* My current turgate style */

.current-target-container {
  max-width: 1000px;
  height: 420px;
  margin: 0 auto;
  margin-top: 23px;
}
.current-text-container {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
.current-image-container {
  display: grid;
  gap: 7px;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1000px;
  height: 300px;
  margin: 0 auto;
  margin-top: 23px;
}
.current-image1 {
  background-color: #fff6f4;
  max-width: 333px;
  height: 300px;
}
.current-image2 {
  background-color: #f2f6fe;
  max-width: 333px;
  height: 300px;
}
.current-image3 {
  background-color: #fffdf2;
  max-width: 333px;
  height: 300px;
}
.html,
.css,
.js {
  padding: 40px;
}

/* I Need suport style */
.support-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/handshake.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  max-width: 1000px;
  height: 300px;
  margin: 0 auto;
  margin-top: 23px;
  border: 2px solid red;
}
.support-tex-container {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
  color: white;
}
.support-tex-container input {
  padding: 10px;
  width: 300px;
  border-radius: 7px;
  border: none;
}
.support-tex-container button {
  padding: 10px;
  border-radius: 7px;
  border: none;
}
/* footer section style */

.footer-container {
  max-width: 1260px;
  height: 80px;
  margin-top: 50px;
}
.footer-tex-container {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  height: 50px;
  text-align: center;
  margin: 0 auto;
  margin-top: 14px;
}
.footer-image-container img {
  padding: 8px;
}
